/* src/components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.1); /* Transparent background */
  backdrop-filter: blur(20px); /* Frosted glass effect */
  border-radius: 15px; /* Smooth, rounded corners */
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37); /* Soft shadow */
  border: 1px solid rgba(255, 255, 255, 0.18); /* Soft border for glassmorphism */
  position: fixed;
  width: 100%;
  margin: 10px auto; /* Center the navbar */
  top: 0;
  z-index: 1000; /* Ensure the navbar stays on top */
  transition: all 0.3s ease-in-out; /* Smooth transition for animations */
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .navbar-logo {
    width: 50px; /* Adjust the size of the logo as needed */
    height: auto;
    /* margin-top: 6px; */
    margin-right: 10px; /* Space between logo and text */
    animation: logo-bounce 2s infinite ease-in-out;
  }

  .navbar-links {
    display: flex;
    gap: 30px;
  }
  
  .nav-link {
    color: #555;
    text-decoration: none;
    padding: 10px 15px;
    position: relative;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, rgba(255,0,150,1) 0%, rgba(255,255,0,1) 100%);
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
  }
  
  .nav-link:hover::after {
    transform: translateX(-50%) scaleX(1);
    opacity: 1;
  }
  
  .navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    height: 3px;
    width: 25px;
    background: #333;
    margin: 4px 0;
  }
  
  .close-icon {
    font-size: 28px;
    color: #333;
  }
  
  .navbar-toggle.active .close-icon {
    opacity: 1;
    transform: scale(1);
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.9);
      padding: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      z-index: 100;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-toggle {
      display: flex;
    }
  }
  
  @keyframes logo-bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px); /* Adjust the height of the bounce */
    }
    60% {
      transform: translateY(-5px); /* Adjust the height of the bounce */
    }
  }
  